.container {
  margin: auto;
  padding-top: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.search {
  background-color: white;
  padding-left: 10px;
  border: 2px solid white;
  color: black;
  width: 350px;
  height: 35px;
  font-size: 17px;
  outline: #008cff;
  border-radius: 15px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.search::placeholder {
  color: black;
}

/* .suggetion {
} */

.suggetion span {
  margin: auto;
  border: 2px solid white;
  padding-left: 10px;
  font-size: 20px;
  display: block;
  background-color: white;
  width: 352px;
  height: 35px;
}

.suggetion span:hover {
  background-color: hsla(0, 1%, 75%, 0.6);
}

.suggetion span:nth-child(3) {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
