body {
  background-color: #777777;
}

button{
  font-size:20px;
  margin:10px;
  border-radius:10px;
  color:white;
  background-color:black;
  width:150px;
  height:fit-content;
  padding:15px;
  border:1px solid yellow;
}